<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Biopark Educação</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/src/main/resources/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            <h2>Bem-vindo ao Sistema de Reservas</h2>
            <form th:action="@{/login}" method="post" th:object="${user}">
                <div class="input-container">
                    <label for="username">
                        <i class="fas fa-user"></i> Usuário:
                    </label>
                    <input type="text" id="username" name="username" th:field="*{username}" required placeholder="Digite seu usuário">
                </div>
                <div class="input-container">
                    <label for="password">
                        <i class="fas fa-lock"></i> Senha:
                    </label>
                    <input type="password" id="password" name="password" th:field="*{password}" required placeholder="Digite sua senha">
                </div>
                <button type="submit" class="btn-login">
                    <i class="fas fa-sign-in-alt"></i> Entrar
                </button>
            </form>


            <div id="error-message" class="error-message" th:if="${error}" th:text="${error}"></div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Biopark Educação | Todos os direitos reservados</p>
    </footer>
    <script src="/src/main/resources/static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>
